
:root {
  font-size: 14px;
}

body, input, label {
  font-family: monospace;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 20px 0px;
  padding: 0px 16px;
}

section img {
  width: 100%;
  max-width: 80px;
  overflow: hidden;
  border-radius: 50%;
}

section b {
  font-weight: 700;
}

section p {
  margin-bottom: 8px;
}

section li {
  margin-bottom: 3px;
}
